
.counter__wraper{
    margin-top: 2.5rem;
}
.counter__box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius:10px 5px 10px 5px ;
}
.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: rgba(99, 131, 10, 0.967);
}